@page "/AdminApproval"
@attribute [Authorize(Policy = "Admin")]
@inject IMalfunctionData malfunctionData
@inject IUserData userData
@inject IStatusData statusData
@inject NavigationManager navManager

<h1 class="page-heading text-uppercase mb-4">Pending Malfunctions</h1>

<div class="row">
    <div class="malfunctions-count col-8 mt-2">@submissions?.Count Submissions</div>
    <div class="col-4 close-button-section">
        <button class="btn btn-close btn-close-white" @onclick="ClosePage"></button>
    </div>
</div>

@if(submissions is not null)
{
    foreach(var s in submissions)
    {
        <div class="row malfunction">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <button class="btn btn-approve" @onclick="(() => ApproveSubmission(s))">Approve</button>
                <button class="btn btn-reject"@onclick="(() => RejectSubmission(s))">Reject</button>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <div>
                    @if (currentEditingTitle == s.Id)
                    {
                        <EditForm class="approval-edit-form" Model="@editedTitle" OnSubmit="(() => SaveTitle(s))">
                            <InputText class="form-control approval-edit-field" @bind-Value="editedTitle" />
                            <button class="btn" type="submit">
                                <span class="oi oi-check malfunction-edit-approve"></span>
                            </button>
                            <button type="button" class="btn" @onclick="(() => currentEditingTitle = string.Empty)">
                                <span class="oi oi-x malfunction-edit-reject"></span>
                            </button>
                        </EditForm>
                    }
                    else
                    {
                        @s.Malfunction
                        <span class="oi oi-pencil malfunction-edit-icon" @onclick="(() => EditTitle(s))"></span>
                    }
                </div>
                <div>
                    @s.Category.CategoryName
                </div>
                <div>
                    @s.User.DisplayName
                </div>
                <div>
                    @if(currentEditingDescription == s.Id)
                    {
                        <EditForm class="approval-edit-form" Model ="@editedDescription" OnSubmit="(() => SaveDescription(s))">
                            <InputText class="form-control approval-edit-field" @bind-Value="editedDescription" />
                            <button class="btn" type="submit">
                                <span class="oi oi-check malfunction-edit-approve"></span>
                            </button>
                            <button type="button" class="btn" @onclick="(() => currentEditingDescription = string.Empty)">
                                <span class="oi oi-x malfunction-edit-reject"></span>
                            </button>
                        </EditForm>
                    }
                    else
                    {
                        @s.Description
                        <span class="oi oi-pencil malfunction-edit-icon" @onclick="(() => EditDescription(s))"></span>
                    }
                </div>
            </div>
        </div>
    }
}



@code {
    private List<MalfunctionModel> submissions;
    private MalfunctionModel editingModel;
    private List<StatusModel> statuses;
    private string currentEditingTitle = "";
    private string editedTitle = "";
    private string currentEditingDescription = "";
    private string editedDescription = "";

    protected async override Task OnInitializedAsync()
    {
        submissions = await malfunctionData.GetAllMalfunctionsWaitingAcknowledgement();
        statuses = await statusData.GetAllStatuses();
    }

    private async Task ApproveSubmission(MalfunctionModel submission)
    {
        submission.Acknowledged = true;
        submission.MalfunctionStatus = statuses.Where(s => s.StatusName == "In queue").ToList().FirstOrDefault();
        submission.MaintenanceNotes = "This malfunction is in queue to be repaired.";
        submissions.Remove(submission);
        await malfunctionData.UpdateMalfunction(submission);
    }

    private async Task RejectSubmission(MalfunctionModel submission)
    {
        submission.Rejected = true;
        submissions.Remove(submission);
        await malfunctionData.UpdateMalfunction(submission);
    }

    private void EditTitle(MalfunctionModel model)
    {
        editingModel = model;
        editedTitle = model.Malfunction;
        currentEditingTitle = model.Id;
        currentEditingDescription = "";
    }

    private async Task SaveTitle(MalfunctionModel model)
    {
        currentEditingTitle = string.Empty;
        model.Malfunction = editedTitle;
        await malfunctionData.UpdateMalfunction(model);
    }

    private void EditDescription(MalfunctionModel model)
    {
        editingModel = model;
        editedDescription = model.Description;
        currentEditingTitle = "";
        currentEditingDescription = model.Id;
    }

    private async Task SaveDescription(MalfunctionModel model)
    {
        currentEditingDescription = string.Empty;
        model.Description = editedDescription;
        await malfunctionData.UpdateMalfunction(model);
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/");
    }
}
